<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>teampickr</title>
    <link rel="stylesheet" href="teampickr.css">
</head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
<script type="text/javascript" src="/js/teampickr.js"></script>
<script src="https://apis.google.com/js/client.js?onload=init"></script>
<body >

<div ng-app="myApp" ng-controller="myCtrl">
    <div class="playerSelector">
        <strong>Not playing:</strong>
        <div ng-repeat="player in players | filter: {playing: false} ">
            <span ng-click="player.playing = true">
                {{ player.id }}
            </span>
        </div>

        <div> {{ message }} </div>
        <button ng-click="load()">Reload...</button>
    </div>

    <table class="playingField" >
        <tr>
            <td class="redHeader">
                <div  >
                    Team Red
                </div>
            </td>
            <td class="spacerColumn" ></td>
            <td class="extrasHeader">
                <span  >
                    Playing (Extra)
                </span>
                <button type="button" ng-click="autoAssign()">Auto-assign</button>
            </td>
            <td class="spacerColumn"></td>
            <td class="whiteHeader">
                <div >
                    Team White
                </div>
            </td>
        </tr>
        <tr>
            <td style="vertical-align: top" >
                <table class="playerList">
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr class="extraPlayer" ng-repeat="player in players | filter: { playing: true } | filter: { team: 'red' } | orderBy : 'rank' ">
                        <td class="playerCell"> {{ player.id }}</td>
                        <td class="redDeselector" ng-click="assignTeam(player,null)" >X</td>
                    </tr>
                </table>
            </td>
            </td>
            <td  ></td>
            <td style="vertical-align: top">
                <table class="playerList">
                    <tr class="extraPlayer" ng-repeat="player in (ranked = (players | filter: { playing: true } | filter: { team: '!' } | orderBy : 'rank')) ">
                        <td class="redPicker" ng-click="assignTeam(player,'red')" >&LessLess; </td>
                        <td class="spacerColumn"></td>
                        <td class="playerDeselector" ng-click="player.playing = false" >X</td>
                        <td class="playerCell">
                            <span class="namePlate"> {{ player.id }} </span>
                        </td>
                        <td> </td>
                        <td class="playerDeselector" >
                            <span ng-click="rankSwap(player, ranked[$index - 1])">↑</span>
                            <span ng-click="rankSwap(player, ranked[$index + 1])">↓</span>
                        </td>
                        <td class="spacerColumn"></td>

                        <td class="whitePicker" ng-click="assignTeam(player,'white')" >&GreaterGreater;</td>
                    </tr>
                </table>
            </td>
            <td  ></td>
            <td style="vertical-align: top">
                <table class="playerList">
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr class="extraPlayer" ng-repeat="player in players | filter: { playing: true } | filter: { team: 'white' } | orderBy : 'rank' ">
                        <td class="whiteDeselector" ng-click="assignTeam(player,null)" >X</td>
                        <td class="playerCell"> {{ player.id }}</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>


    <script type="text/javascript">
    </script>

</div>



<script></script>
</body>
</html>
