<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>teampickr</title>
    <link rel="stylesheet" href="teampickr.css">
</head>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body >

<div ng-app="myApp" ng-controller="myCtrl">


    <div class="playerSelector">
        <div ng-repeat="player in players">
            <input
                    type="checkbox"
                    ng-model="player.playing"
            >
            <span>
                {{ player.id }}
            </span>
        </div>
    </div>

    <table class="playingField" >
        <tr>
            <td class="redHeader">
                <div  >
                    Team Red
                </div>
            </td>
            <td class="spacerColumn" ></td>
            <td class="extrasHeader">
                <div  >
                    Playing (Extra)
                </div>
            </td>
            <td class="spacerColumn"></td>
            <td class="whiteHeader">
                <div >
                    Team White
                </div>
            </td>
        </tr>
        <tr>
            <td >
                <table class="playerList">
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr class="extraPlayer" ng-repeat="player in players | filter: { playing: true } | filter: { team: 'red' } ">
                        <td class="playerName"> {{ player.id }}</td>
                        <td class="redDeselector" ng-click="assignTeam(player,null)" >X</td>
                    </tr>
                </table>
            </td>
            <td  ></td>
            <td >
                <table class="playerList">
                    <th>
                        <td></td>
                        <td></td>
                        <td></td>
                    </th>
                    <tr class="extraPlayer" ng-repeat="player in players | filter: { playing: true } | filter: { team: '!' } ">
                        <td class="redPicker" ng-click="assignTeam(player,'red')" >&LessLess; </td>
                        <td class="playerName">
                            <div> {{ player.id }} </div>
                            <div class="playerDeselector">X</div>
                        </td>
                        <td class="whitePicker" ng-click="assignTeam(player,'white')" >&GreaterGreater;</td>
                    </tr>
                </table>
            </td>
            <td  ></td>
            <td >
                <table class="playerList">
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr class="extraPlayer" ng-repeat="player in players | filter: { playing: true } | filter: { team: 'white' } ">
                        <td class="whiteDeselector" ng-click="assignTeam(player,null)" >X</td>
                        <td class="playerName"> {{ player.id }}</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>


</div>


<script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', ['$scope', 'filterFilter', function ($scope) {


        $scope.teamWhite = [];
        $scope.teamRed = [];

        $scope.checkAll = function () {
            if ($scope.selectedAll) {
                $scope.selectedAll = true;
            } else {
                $scope.selectedAll = false;
            }
            angular.forEach($scope.players, function (player) {
                player.selected = $scope.selectedAll;
            });

        };

        $scope.assignTeam = function(player,team){
            player.team = team;
        }

        $scope.players = [
            {id: "Sibiao"},
            {id: "Gowri"},
            {id: "Surkhab"},
            {id: "MikeH"},
            {id: "Tanvir"},
            {id: "Peter"},
            {id: "NickH"},
            {id: "NikK"},
            {id: "Zareh"},
            {id: "Dom"},
            {id: "Abhishek"},
            {id: "Ed"},
            {id: "Raghu"},
            {id: "Darin"},
            {id: "Rudy"},
            {id: "Anthony"},
            {id: "Chun"},
            {id: "DavidS"},
            {id: "Marcos"},
            {id: "Al"},
            {id: "MichaelS"},
        ];

    }

    ]);


    // curl --get --data-urlencode 'address=320 North Central Ave, Glendale, CA' 'https://maps.googleapis.com/maps/api/geocode/json?key='


</script>
</body>
</html>
