<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>teampickr</title>
    <link rel="stylesheet" href="teampickr.css">
</head>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
<body >

<div ng-app="myApp" ng-controller="myCtrl">
    <div class="playerSelector">
        <strong>Not playing:</strong>
        <div ng-repeat="player in players | filter: {playing: false} ">
            <span ng-click="player.playing = true">
                {{ player.id }}
            </span>
        </div>
    </div>

    <table class="playingField" >
        <tr>
            <td class="redHeader">
                <div  >
                    Team Red
                </div>
            </td>
            <td class="spacerColumn" ></td>
            <td class="extrasHeader">
                <span  >
                    Playing (Extra)
                </span>
                <button type="button" ng-click="autoAssign()">Auto-assign</button>
            </td>
            <td class="spacerColumn"></td>
            <td class="whiteHeader">
                <div >
                    Team White
                </div>
            </td>
        </tr>
        <tr>
            <td style="vertical-align: top" >
                <table class="playerList">
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr class="extraPlayer" ng-repeat="player in players | filter: { playing: true } | filter: { team: 'red' } | orderBy : 'rank' ">
                        <td class="playerCell"> {{ player.id }}</td>
                        <td class="redDeselector" ng-click="assignTeam(player,null)" >X</td>
                    </tr>
                </table>
            </td>
            </td>
            <td  ></td>
            <td style="vertical-align: top">
                <table class="playerList">
                    <tr class="extraPlayer" ng-repeat="player in (ranked = (players | filter: { playing: true } | filter: { team: '!' } | orderBy : 'rank')) ">
                        <td class="redPicker" ng-click="assignTeam(player,'red')" >&LessLess; </td>
                        <td class="spacerColumn"></td>
                        <td class="playerDeselector" ng-click="player.playing = false" >X</td>
                        <td class="playerCell">
                            <span class="namePlate"> {{ player.id }} </span>
                        </td>
                        <td> </td>
                        <td class="playerDeselector" >
                            <span ng-click="rankSwap(player, ranked[$index - 1])">↑</span>
                            <span ng-click="rankSwap(player, ranked[$index + 1])">↓</span>
                        </td>
                        <td class="spacerColumn"></td>

                        <td class="whitePicker" ng-click="assignTeam(player,'white')" >&GreaterGreater;</td>
                    </tr>
                </table>
            </td>
            <td  ></td>
            <td style="vertical-align: top">
                <table class="playerList">
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr class="extraPlayer" ng-repeat="player in players | filter: { playing: true } | filter: { team: 'white' } | orderBy : 'rank' ">
                        <td class="whiteDeselector" ng-click="assignTeam(player,null)" >X</td>
                        <td class="playerCell"> {{ player.id }}</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>



</div>


<script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', ['$scope', 'filterFilter', function ($scope) {


        $scope.teamWhite = [];
        $scope.teamRed = [];

        $scope.autoAssign = function(){
            var isRed = true;
            angular.forEach($scope.players, function (player, key) {
                if (player.playing && !player.team) {
                    player.team = isRed ? 'red' : 'white';
                    isRed = !isRed;
                }
            })
        };

        $scope.assignTeam = function(player,team){
            player.team = team;
        };

        $scope.rankSwap = function (player1, player2) {
            if (player2) {
                var swap = player1.rank;
                player1.rank = player2.rank;
                player2.rank = swap;
            }
        };

        $scope.players = [
            {id: "Abhishek"},
            {id: "Al"},
            {id: "Aleks"},
            {id: "Anthony"},
            {id: "Chun"},
            {id: "Dan"},
            {id: "Darin"},
            {id: "DavidC"},
            {id: "DavidH"},
            {id: "DavidS"},
            {id: "Dom"},
            {id: "Ed"},
            {id: "Eric"},
            {id: "Gary"},
            {id: "Gowri"},
            {id: "Marcos"},
            {id: "MichaelS"},
            {id: "MikeH"},
            {id: "NickH"},
            {id: "NikK"},
            {id: "Paul"},
            {id: "Peter"},
            {id: "Raghu"},
            {id: "Rudy"},
            {id: "Senthil"},
            {id: "Sibiao"},
            {id: "Surkhab"},
            {id: "Tanvir"},
            {id: "Zareh"},
        ];


        angular.forEach($scope.players, function (value, key) {
            value.playing=true;
            value.rank = key;
        })

        var num = 6;

        $scope.items = [5,4,3,2,1];

        $scope.addNum = function (){
            $scope.items.unshift(num++);
        };

        $scope.remNum = function (){
            $scope.items.shift();
        }


    }

    ]);


    // curl --get --data-urlencode 'address=320 North Central Ave, Glendale, CA' 'https://maps.googleapis.com/maps/api/geocode/json?key='


</script>
</body>
</html>
